@model Todolist.Models.Task

@{
    ViewData["Title"] = "Delete Task";
}

<div class="addtask">
    <h2 class="addnewtasktitle">Are you sure to delete ?</h2>
    <form method="post" asp-action="DeleteConfirmed">
        <div class="TaskTitleDiv">

            <input disabled type="text" class="task_title" asp-for="Title" placeholder="Task title">
        </div>
        <div class="TaskDescDiv">

            <textarea disabled class="task_desc" asp-for="Description" placeholder="Task description"></textarea>
        </div>

        <input type="hidden" asp-for="Id" />
        <br />
        <hr style="color:white" />
        <div class="container">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button asp-action="Index" class="btn btn-secondary">Cancel</button>
        </div>
    </form>

</div>

