* {
    margin: 0;
    padding: 0;
   
}
html {
    background-color: #CD5A91;
}

body {
    background-color: #CD5A91;
}

a{
    text-decoration:none;
    list-style:none;
    color: #292929;
    
}


/*--------------------------------------Home Page------------------------------------------/*/
.home {
    background-color: #CD5A91;
}
.buttons {
    width:100%;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    
}
.addnewtask{
    width:200px;
    height:50px;
    border:none;
    background-color:#ededed72;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    color: white;
    text-decoration:none;
}

    .addnewtask:hover {
        transition: all 0.3s ease-in-out;
        background-color: #808080ff;
        color: #fff;
    }


.home_container{
    width:100%;
    min-height:500px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    
}
.task_list {
    width: 100%;
    height: 450px;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    gap:10px;
    
}

.task_item {
    width: 300px;
    height: 350px;
    border-radius: 12px;
    border: none;
    background-color: #F1F2F4;
    gap: 10px;
    color: white;
    cursor: pointer;
}
    .task_item:hover {
        transition: all 0.3s ease-in-out;
        color: #fff;
    }

.task_item_title{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    padding-left:10px;
    color:#292929;
    font-size:1em;
    font-weight:500;
    border-bottom:3px solid white;
    font-family:'Poppins', sans-serif;
   
}

.task_item_desc {
    width: 100%;
    height: 200px;
    display: flex;
    padding-left: 10px;
    color: #292929;
    font-size: 1em;
    font-weight: 500;
    padding-top:10px;
    font-family: 'Poppins', sans-serif;
}
.task_item_complete {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color:#292929;
    font-size: 1em;
    font-weight: 500;
    gap:15px;
    border-top: 3px solid white;
    font-family: 'Poppins', sans-serif;
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px; 
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%; 
    }

input:checked + .slider {
    background-color: darkred;
}

input:focus + .slider {
    box-shadow: 0 0 1px darkred;
}

input:checked + .slider:before {
    transform: translateX(26px);
}



.task_item_actions{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:space-around;
   
}
.edit {
    width: 48%;
    height: 80%;
    border: none;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    border-radius: 12px;
}
.delete {
    width: 48%;
    height: 80%;
    border-radius: 12px;
    border: none;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}
.edit:hover{
  background-color:saddlebrown;
  color:#fff;
}
.delete:hover {
   background-color:darkred;
   color:#fff;
}


.pager {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.prev {
    width: 80px;
    height: 50px;
/*    border-radius: 5px;*/
    border: none;
    background-color: #ededed72;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

    .prev:hover {
        transition: all 0.3s ease-in-out;
        background-color: #808080ff;
        color: #fff;
    }


.next {
    width: 80px;
    height: 50px;
/*    border-radius: 5px;*/
    border: none;
    background-color: #ededed72;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

    .next:hover {
        transition: all 0.3s ease-in-out;
        background-color: #808080ff;
        color: #fff;
    }


    /**-----------------Add Task-----------------*/

.addtask{
    width:500px;
    height:500px;
    margin:50px auto
}
.addnewtasktitle{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    font-family:'Poppins', sans-serif;
    font-size:2em;
    font-weight:400;
    color:#fff;
   
}
form {
    width: 100%;
    height: 100%;
   
}
.TaskTitleDiv{
    width:100%;
    height:50px;
   
}
input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    outline: none !important;
}

.TaskDescDiv{
    width:100%;
    height:150px;
    margin-top:20px;
    border:1px solid white;
}

textarea {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    outline: none !important;
    border: none;
    font-family: 'Poppins', sans-serif;
   
}


/**---------------------Edit Task------------------*/


